In [2]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.api import VAR

import warnings
warnings.filterwarnings('ignore')

In [3]:
# Color theme for visualizations
JAPAN_RED = '#C1272D'
JAPAN_WHITE = '#FFFFFF'
CHARCOAL = '#2C2C2C'
LIGHT_GREY = '#F5F5F5'
ACCENT_RED = '#D91E10'

In [4]:
# Plotting Parameters for visualizations
plt.rcParams['figure.facecolor'] = LIGHT_GREY
plt.rcParams['axes.facecolor'] = JAPAN_WHITE
plt.rcParams['axes.edgecolor'] = CHARCOAL
plt.rcParams['xtick.color'] = CHARCOAL
plt.rcParams['ytick.color'] = CHARCOAL
plt.rcParams['text.color'] = CHARCOAL
plt.rcParams['grid.color'] = '#E0E0E0'
plt.rcParams['grid.alpha'] = 0.5

In [12]:
# Loading the data file
df = pd.read_csv('japan_data.csv',index_col = 0, parse_dates=True)
df.head()

            GDP_per_capita  Consumption_per_capita
Year
1974-01-01     4448.319656             2110.683134
1975-01-01     4775.899536             2384.062416
1976-01-01     5310.431409             2667.407194
1977-01-01     6472.787787             3262.015600
1978-01-01     9012.136035             4542.051021

In [6]:
# Basic Exploratory Data Analysis - Shape of the dataset
print(f"Shape of the dataset is {df.shape}")

Shape of the dataset is (49, 2)

In [9]:
# Basic Exploratory Data Analysis - Columns
print(f"The columns are: {list(df.columns)}")

The columns are: ['GDP_per_capita', 'Consumption_per_capita']

In [11]:
# Basic Exploratory Data Analysis - Range of dates
print(f"Year Range: {df.index[0].strftime('%Y')} to {df.index[-1].strftime('%Y')}")

Year Range: 1974 to 2022

In [14]:
# Calculation of growth rates
# Growth rate = ((X_t - X_t-1) / (X_t-1)) * 100
df['GDP_growth'] = df['GDP_per_capita'].pct_change() * 100
df['Consumption_growth'] = df['Consumption_per_capita'].pct_change() * 100

In [18]:
# Remove the NaN values
df_growth = df[['GDP_growth','Consumption_growth']].dropna()
df_growth.head()

            GDP_growth  Consumption_growth
Year
1975-01-01    7.364126           12.952171
1976-01-01   11.192276           11.884956
1977-01-01   21.888172           22.291625
1978-01-01   39.231137           39.240628
1979-01-01    3.206923            5.043940

In [20]:
# Descriptive statistics for the growth dataframe
df_growth.describe()

       GDP_growth  Consumption_growth
count   48.000000           48.000000
mean     4.993866            5.326359
std     12.257339           12.175036
min    -16.780111          -16.117369
25%     -1.295644           -1.609774
50%      4.583284            4.880239
75%     10.074056           11.001770
max     47.778429           46.828434